# Reading Excel Files

In [1]:
import pandas as pd

In [2]:
!head dataset/products.xlsx

#!head dataset/products.xlsx will return garbage-looking output, because .xlsx files are binary files, not plain text.

\��{os��>~PK     ? �I��   K     _rels/.rels���N�0@�|E���n��� ��&4>�$n���ă�@�i�q��g���<��R�,��·����iq*�#2p���f�L#J�ɽ�YH�z���u�=M�+��O�iB)���v������t�ɀ愩��@ں%��1�5ln[o��a� gZ��(dL��y�W�*P��]V׻�=��HС���hS�N��Z�u�]	�όKB������#wY	c�2�'7�| PK     ? Du[��   �     xl/_rels/workbook.xml.rels���j�0D��
��ZvJ)�s)�\�����LlIh�i��	M��Čؙ����Ћ&�WP�&�η
f�o���kCo9>-����*�������z�a�[�ieC���U�p*b|ai8C0�<�ݮ6�.��-�g��������j�PUk���ø��WjFG&%k/Q��H�C����1y	�W���&�PK     ? �j%H  &     xl/workbook.xml�Q�N�0����ij#Z5��KTB�Di�&�4V;���=�T)p�3����z�:6�}�u���Iui���>6��7���Zpe4�pB��j�{�4��h^�j��E��Ɔ��iQ�Kel�=Q��\k�W#�FEigQå�������T�,�ޔ]�ڟM,*�i{W��A�����9�m��Z���)����ES���?����N�@f�����2����j�;�+��i:C�Vb�~�eǝ���9�S��id�X?���&!���	��9̳,��/��~ce�pB���'l��]�dp�J�JJ�ИNg�X�)uGګ~6|Cc��PK     ? ���a�   �     xl/sharedStrings.xmle�AK1����һ�QQDf��(���������flRq��<�����%�K��
^|B"���'�F
   xl/styles.xml�Tߋ�0~�_�~�*�h�z�";A0��b!�`��iT4'0=M �:m���RX̑��s)rt6��-9ݲ~J�g�7�bݪ�ؙ K�1#�Cmq�z��hߗ��%�@$�����K�$���Wl�o�U����<���-���qIn=XN��L��Kޱ^�p�$��]�[�oPK     ? i���  =  
��n}�5�����_�I�w,�C_���of��䏓��̭F4�?P�um����9�>Q��I�yAg��c�!w0K��s�+h0|IW�\1wo�q�5V1@�v�,g��IJ&���(&4-��hp�6���fK���93�m�4)��Hc	 =�"�)ߘ�>�2%�Ù����XLb�����Q+,�����b����>�C�4X^��&�n�;��4��֭�m���c��%o��z���	`�`��Lz�K�>���PP��aF�f�.��&6�B7���tya�ϲ(Qͥ|�L�U�����Q|o
���?ɋ��.f����߳E�m�.Z2�+�[����M�0��h�|�{
���*E��H�..�/���x�n�A@�>�����E�u� ŕ�k�������c!wmV�� �+�"g3mj�]`�IWU���-%��͂n�OވQ}^Q��������N�����+�PK     ? �FT�  R     xl/theme/theme1.xml�YM��D��+F���;ͮ��6٤����ݴ�ǉ=��{���nsC�		Q$nP����_�PE�_��G��f�Ͷ� �9$���~���1CGDHʓ��\�Y�$>h��;�������I�OHۚi]���*�T�	�Dn�)�nڶ�a��<%	�qcKځ���6fv�Vk�1����ۣ�	d,�����D�l�g���%�96;ُ��.��r~< ���
��:���>��OПO�}��K3^���~���_�0�|�Փߟ=y��g|�� �x��4&�"���`�A ��Q"L+8��SQxk��	�!U��� L���]#1Q� ܍����+M���A��x	��s�9d��
p�s���h�n&K7g��f�b��0>2��

The read_excel() method from the pandas library is used to load .xls or .xlsx files directly into a DataFrame. It’s a versatile tool for importing spreadsheet data into Python for analysis.

 Common Parameters and Their Uses


	•	io: Path to the Excel file (can be local path, URL, or file object).

Example: "data/sales.xlsx" or "https://example.com/data.xlsx"

	•	sheet_name: The sheet to read.

Can be a name (e.g. "Sheet1"), an index (e.g. 0), a list (e.g. [0,1]), or None to read all sheets.

	•	header: Row number(s) to use as column names.

Set to None if the file has no header.

	•	usecols: Specifies which columns to read.

Accepts a string range (e.g. "A:C"), list of names (e.g. ["Name", "Age"]), or indexes.

	•	skiprows: Number of rows to skip at the beginning of the file.

Useful for ignoring metadata or notes above the table.

	•	nrows: Number of rows to read from the file.

Helpful when previewing or sampling large datasets.

	•	dtype: Specify data types for one or more columns manually.

Example: dtype={"Salary": float}

	•	na_values: Custom missing value markers to treat as NaN.

Example: na_values=["N/A", "--"]

	•	engine: The backend parser.

Usually 'openpyxl' for .xlsx or 'xlrd' for .xls.

# Reading our first excel file

Everytime we use the read_excel method we will have to pass the explicit filepath of the excel file we are going to use.

Any valid string path is acceptable. The string could be URL. Valid scheme urls accept HTTP, FTP, S3 and file.For file url's a host is accepted.

In [3]:
df = pd.read_excel("dataset/products.xlsx")

In [4]:
df.head()

   ProductID     ProductName     Category  Price  Stock
0        101  Wireless Mouse  Electronics  25.99    150
1        102    Water Bottle      Kitchen  10.49    300
2        103        Notebook   Stationery   2.99    500
3        104      Headphones  Electronics  49.99     75
4        105      Coffee Mug      Kitchen   8.99    200

In the above data the pandas automatically infer everything related to our data. But in real scenarios we would have to pass the params like how we want our data.

In [5]:
pd.read_excel("dataset/products.xlsx").head()

   ProductID     ProductName     Category  Price  Stock
0        101  Wireless Mouse  Electronics  25.99    150
1        102    Water Bottle      Kitchen  10.49    300
2        103        Notebook   Stationery   2.99    500
3        104      Headphones  Electronics  49.99     75
4        105      Coffee Mug      Kitchen   8.99    200

In [6]:
pd.read_excel("dataset/products.xlsx", header = None).head()
#Without the header the index is being set as the header which is what we dont want.

           0               1            2      3      4
0  ProductID     ProductName     Category  Price  Stock
1        101  Wireless Mouse  Electronics  25.99    150
2        102    Water Bottle      Kitchen  10.49    300
3        103        Notebook   Stationery   2.99    500
4        104      Headphones  Electronics  49.99     75

# Adding index to our data using the index_col parameter.

By default the pandas will automatically assign a autoincremental index or a row label starting from 0.
So to overwrite this behaviour we will be using the index_col param for that.

In [7]:
df = pd.read_excel("dataset/products.xlsx",
                   index_col = [0] )

In [8]:
df.head()

              ProductName     Category  Price  Stock
ProductID
101        Wireless Mouse  Electronics  25.99    150
102          Water Bottle      Kitchen  10.49    300
103              Notebook   Stationery   2.99    500
104            Headphones  Electronics  49.99     75
105            Coffee Mug      Kitchen   8.99    200

# Selecting specific Sheets

Another approach on reading excel data is using ExcelFile class for parsing tablular Excel file into DataFrame objects.
The ExcelFile will let us work with sheets easily, and will be faster than the previous read_excel method.

In [9]:
excel_file = pd.ExcelFile("dataset/products.xlsx")

In [10]:
excel_file

In [11]:
excel_file.sheet_names

['Sheet1']

Parse specific sheets into the dataframe using the parse method. Everytime we use the parse method we will have to pass the explicit sheet name.

In [12]:
products = excel_file.parse("Sheet1")

In [13]:
products.head()

# The above excel sheets has been parsed into dataframe

   ProductID     ProductName     Category  Price  Stock
0        101  Wireless Mouse  Electronics  25.99    150
1        102    Water Bottle      Kitchen  10.49    300
2        103        Notebook   Stationery   2.99    500
3        104      Headphones  Electronics  49.99     75
4        105      Coffee Mug      Kitchen   8.99    200

In [14]:
products = excel_file.parse(sheet_name = "Sheet1", 
                    index_col = [0],
                    header = 0
                    )

In [15]:
products.head()

              ProductName     Category  Price  Stock
ProductID
101        Wireless Mouse  Electronics  25.99    150
102          Water Bottle      Kitchen  10.49    300
103              Notebook   Stationery   2.99    500
104            Headphones  Electronics  49.99     75
105            Coffee Mug      Kitchen   8.99    200

# Save to Excel File

Finally, we can save our dataframe as a Excel File.

In [16]:
products.head()

              ProductName     Category  Price  Stock
ProductID
101        Wireless Mouse  Electronics  25.99    150
102          Water Bottle      Kitchen  10.49    300
103              Notebook   Stationery   2.99    500
104            Headphones  Electronics  49.99     75
105            Coffee Mug      Kitchen   8.99    200

The fast and one way to write a single dataframe to the Excel is to use the to_excel() method of the dataframe directly.

Note : Its required to pass the output file path.

The OpenPyXL - openpyxl library should be installed in order to save the Excel files.

In [17]:
products.to_excel("out.xlsx")

In [18]:
# We can also specify the sheet name as a parameter
products.to_excel("out.xlsx",sheet_name="products")

#Further calls to to_excel will only overwrite the first sheet instead of addiing additional sheets.
#Also be awared by removing the index otherwise we will lose that column.

In [19]:
products.to_excel("out.xlsx", 
                  index=None)

In [20]:
pd.read_excel("out.xlsx").head()

      ProductName     Category  Price  Stock
0  Wireless Mouse  Electronics  25.99    150
1    Water Bottle      Kitchen  10.49    300
2        Notebook   Stationery   2.99    500
3      Headphones  Electronics  49.99     75
4      Coffee Mug      Kitchen   8.99    200

# Positioning data with startrow and startcol

Suppose we wanted to insert our data in the spreadsheet file in a position somewhere other than the top-left corner.

We can shift where the to_excel method writes the data by using the startrow and startcol to set the cell after which the first row will be printed, and startcol to set which cell after which the first column will be printed in the spreadsheet.

In [21]:
products.to_excel('out.xlsx',
                  sheet_name="Products",
                  startrow = 1,
                  startcol = 2)

ExcelWriter is a pandas class used when you want more control while writing to Excel files, especially when you’re:

	• Writing to multiple sheets,

	• Appending to existing files,

	• Customizing the Excel output (e.g., setting formats),

	• Using specific Excel engines (openpyxl, xlsxwriter, etc.).

# Saving multiple sheets

If we wanted to write a single DataFrame to single sheet with default formatting then we are done. But if we want to write multiple sheets or multiple DataFrames then we will need to create an ExcelWriter object.

The ExcelWriter Object is included in the pandas module and is used to open Excel files and handle right operations. This object behaves almost exactly like a vanilla Python open object.

When the ExcelWriter object is executed, any existing file with the same name as the output file will be overwritten.

# Why are sheets useful?
	
    • You can organize related data in one file.
	
    • You can keep raw data, analysis, and charts in separate sheets.
	
    • Makes your data clean and well-structured.

In [22]:
writer = pd.ExcelWriter("out.xlsx")

In [ ]:
writer

This simply means that you’ve created an ExcelWriter object using the openpyxl engine, and it’s showing you:
	
    • The type of the object: pandas.io.excel._openpyxl.OpenpyxlWriter
	
    • The memory address where it’s stored in your computer’s RAM: 0x118a628c0

Instead of using the filepath name in the to_excel, we will use ExcelWriter Object writer instead.

In [24]:
with writer:
    products.to_excel(writer, sheet_name= "Products")

The above saves the products DataFrame to an Excel file using a context manager (with block) and writes it into a sheet named "Products".

In [ ]:
pd.read_excel("out.xlsx", sheet_name = "Products").head()

   ProductID     ProductName     Category  Price  Stock
0        101  Wireless Mouse  Electronics  25.99    150
1        102    Water Bottle      Kitchen  10.49    300
2        103        Notebook   Stationery   2.99    500
3        104      Headphones  Electronics  49.99     75
4        105      Coffee Mug      Kitchen   8.99    200

We can also save multiple sheets at the same time. With that the out.xlsx will have two sheets at the same time.

In [27]:
pd.read_excel?
#Below are the additional params that the read_excel method can accept

Signature:
pd.read_excel(
    io,
    sheet_name: 'str | int | list[IntStrT] | None' = 0,
    *,
    header: 'int | Sequence[int] | None' = 0,
    names: 'SequenceNotStr[Hashable] | range | None' = None,
    index_col: 'int | str | Sequence[int] | None' = None,
    usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None,
    dtype: 'DtypeArg | None' = None,
    engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb', 'calamine'] | None" = None,
    converters: 'dict[str, Callable] | dict[int, Callable] | None' = None,
    true_values: 'Iterable[Hashable] | None' = None,
    false_values: 'Iterable[Hashable] | None' = None,
    skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    parse_dates: 'list | dict | bool' = False,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'dict[Hashable, str] | str | None' = None,
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    comment: 'str | None' = None,
    skipfooter: 'int' = 0,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
    engine_kwargs: 'dict | None' = None,
) -> 'DataFrame | dict[IntStrT, DataFrame]'
Docstring:
Read an Excel file into a ``pandas`` ``DataFrame``.

Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
read from a local filesystem or URL. Supports an option to read
a single sheet or a list of sheets.

Parameters
----------
io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method,
    such as a file handle (e.g. via builtin ``open`` function)
    or ``StringIO``.

    .. deprecated:: 2.1.0
        Passing byte strings is deprecated. To read from a
        byte string, wrap it in a ``BytesIO`` object.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions (chart sheets do not count as a sheet position).
    Lists of strings/integers are used to request multiple sheets.
    Specify ``None`` to get all worksheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * ``None``: All worksheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, str, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.

    Missing values will be forward filled to allow roundtripping with
    ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
    missing values use ``set_index`` after reading the data instead of
    ``index_col``.
usecols : str, list-like, or callable, default None
    * If None, then parse all columns.
    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed
      (0-indexed).
    * If list of string, then indicates list of column names to be parsed.
    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    Returns a subset of the columns according to behavior above.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use ``object`` to preserve data as stored in Excel and not interpret dtype,
    which will necessarily result in ``object`` dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
    If you use ``None``, it will infer the dtype of each column based on the data.
engine : {'openpyxl', 'calamine', 'odf', 'pyxlsb', 'xlrd'}, default None
    If io is not a buffer or path, this must be set to identify io.
    Engine compatibility :

    - ``openpyxl`` supports newer Excel file formats.
    - ``calamine`` supports Excel (.xls, .xlsx, .xlsm, .xlsb)
      and OpenDocument (.ods) file formats.
    - ``odf`` supports OpenDocument file formats (.odf, .ods, .odt).
    - ``pyxlsb`` supports Binary Excel files.
    - ``xlrd`` supports old-style Excel files (.xls).

    When ``engine=None``, the following logic will be used to determine the engine:

    - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
      then `odf <https://pypi.org/project/odfpy/>`_ will be used.
    - Otherwise if ``path_or_buffer`` is an xls format, ``xlrd`` will be used.
    - Otherwise if ``path_or_buffer`` is in xlsb format, ``pyxlsb`` will be used.
    - Otherwise ``openpyxl`` will be used.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.
false_values : list, default None
    Values to consider as False.
skiprows : list-like, int, or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int) at the
    start of the file. If callable, the callable function will be evaluated
    against the row indices, returning True if the row should be skipped and
    False otherwise. An example of a valid callable argument would be ``lambda
    x: x in [0, 2]``.
nrows : int, default None
    Number of rows to parse.
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
    'n/a', 'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is True, and ``na_values`` are specified,
      ``na_values`` is appended to the default NaN values used for parsing.
    * If ``keep_default_na`` is True, and ``na_values`` are not specified, only
      the default NaN values are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are specified, only
      the NaN values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is False, and ``na_values`` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * ``bool``. If True -> try parsing the index.
    * ``list`` of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * ``dict``, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparsable date, the entire column or
    index will be returned unaltered as an object data type. If you don`t want to
    parse some cells as date just change their type in Excel to "Text".
    For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`to_datetime` as-needed.
date_format : str or dict of column -> format, default ``None``
   If used in conjunction with ``parse_dates``, will parse dates according to this
   format. For anything more complex,
   please read in as ``object`` and then apply :func:`to_datetime` as-needed.

   .. versionadded:: 2.0.0
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
decimal : str, default '.'
    Character to recognize as decimal point for parsing string columns to numeric.
    Note that this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.(e.g. use ',' for European data).

    .. versionadded:: 1.4.0

comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

engine_kwargs : dict, optional
    Arbitrary keyword arguments passed to excel engine.

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
DataFrame.to_excel : Write DataFrame to an Excel file.
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Notes
-----
For specific information on the methods used for each Excel engine, refer to the pandas
:ref:`user guide <io.excel_reader>`

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the
``comment`` kwarg.

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      /opt/anaconda3/envs/modelprep/lib/python3.10/site-packages/pandas/io/excel/_base.py
Type:      function